
/* *********************About us section***************** */
#about_us::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    /* background: url(../IMAGES/SERVICES/services\ bg.jpg)no-repeat center center/cover; */
    background-color: black;
    z-index: -1;
    width: 100%;
    height:215%;
    /* opacity: 0.7; */
}

/* about us heading */
#about_us_head h3{
    text-align: center;
    font-size: 42px;
    margin: 33px 5px;
    color: white;
}

.container{
    /* border: 2px solid blue; */
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* gallery */
.gallery{
    /* border:2px solid red; */
    padding: 10px;
}

.gallery_img{
    height: 8em;
    width: 8em;
    padding: 5px;
    /* border: 2px solid yellow; */
}
.gallery_img:hover{
    padding: 0px;
}

/* description */

.content{
    /* border: 2px solid green; */
    border-radius: 10px;
    max-width: 45em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(230, 243, 245, 0.3);
}
.content p{
    margin: 8px 2px;
    font-size: 18px;
    color: white;
}
.content_subhead{
    font-weight: bold;
}
.content span{
    display: block;
}
.content span a{
    text-decoration: none;
    color:white;
    font-size: 17px;
    margin: 0px 5px;
}
.content span a:hover{
    color: rgb(235, 213, 180);
}

/* ****************************responsiveness to about us section************************ */
@media only screen and (max-width:681px)
{
    .content p{
        margin: 4px 2px;
    }
    .container{
        padding: 10px;
    }
}

/* reponsiveness to images and gallery */
@media only screen and (max-width:391px){
    .img_cont{
        display: flex;
        flex-direction: column;
    }
    .gallery_img{
        height: 5em;
        width: 5.6em;
    }
    .gallery{
        margin: auto 0px;
    }
    .container{
        padding-left:unset;
        padding-right: unset;
    }
}

@media only screen and (max-width:695px){
    .gallery{
        padding: 5px;
    }
    .gallery_img{
        padding: 3px;
    }
}

@media only screen and (max-width:515px){
    .gallery_img{
        height: 3em;
        width: 3em;
    }
    .gallery{
        margin: auto 0px;
    }
}
@media only screen and (min-width:515px) and (max-width:899px){
    .gallery_img{
        height: 5em;
        width: 5em;
    }
    .gallery{
        margin: auto 0px;
    }
}

/* responsiveness to content  */
@media only screen and (max-width:779px)
{
    .content p{
        font-size: 12px;
    }
    .content span a{
        font-size: 11px;
    }
}
@media only screen and (min-width:779px) and (max-width:1002px)
{
    .content p{
        font-size: 15px;
    }
    .content span a{
        font-size: 14px;
    }
}

/* reponsiveness to about us bg */
@media only screen and (max-width:391px){
    #about_us::before{
        height: 265%;
    }
}
@media only screen and (min-width:391px) and (max-width:414px){
    #about_us::before{
        height: 239%;
    }
}
@media only screen and (min-width:414px) and (max-width:439px){
    #about_us::before{
        height: 220%;
    }
}
@media only screen and (min-width:439px) and (max-width:470px){
    #about_us::before{
        height: 210%;
    }
}
@media only screen and (min-width:470px) and (max-width:515px){
    #about_us::before{
        height: 195%;
    }
}
@media only screen and (min-width:515px) and (max-width:544px){
    #about_us::before{
        height: 219%;
    }
}
@media only screen and (min-width:544px) and (max-width:564px){
    #about_us::before{
        height: 208%;
    }
}
@media only screen and (min-width:564px) and (max-width:594px){
    #about_us::before{
        height: 198%;
    }
}
@media only screen and (min-width:594px) and (max-width:617px){
    #about_us::before{
        height: 182%;
    }
}
@media only screen and (min-width:617px) and (max-width:648px){
    #about_us::before{
        height: 175%;
    }
}
@media only screen and (min-width:648px) and (max-width:677px){
    #about_us::before{
        height: 170%;
    }
}
@media only screen and (min-width:677px) and (max-width:779px){
    #about_us::before{
        height: 190%;
    }
}
@media only screen and (min-width:779px) and (max-width:899px){
    #about_us::before{
        height: 215%;
    }
}
@media only screen and (min-width:899px) and (max-width:1496px){
    #about_us::before{
        height: 247%;
    }
}

/* *************************footer************************** */
#footer{
    /* border: 2px solid green; */
    position: absolute;
    /* top: 67.3em; */
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: black;
    color: white;   
}
#footer p{
    margin: 9px;
}

@media only screen and (max-width:385px)
{
    #footer p{
        font-size:10px ;
    }
}