thead{
    display: none;
}
#navbar{
    background-color: #024965;
}

/* *************************Filter section****************************** */
#filter_section::before{
    content: "";
    position: fixed;
    /* top: 0px; */
    /* left: 0px; */
    /* background: url(../IMAGES/SERVICES/services\ bg.jpg)no-repeat center center/cover; */
    /* background-color: black; */
    /* z-index: -10; */
    /* width: 100%; */
    /* height:25%; */
    /* opacity: 0.7; */
}
#filter_section{
    position:sticky;
    top: 72px;
    display: flex;
    /* border: 2px solid yellowgreen; */
    background-color:#024965;
    /* border-radius: 40px; */
    /* width: 80%; */
    /* margin: auto; */
    justify-content: center;
    padding: 20px 0px;
}

#nutrient,#menu_v_nv_all{
    margin: 0px 20px;
}
#filter_section select{
    border-radius: 5px;
    border: 2px solid black;
    font-size: 0.9em;
    padding: 2px 8px;
}
#filter_section label{
    font-size: 1.3em;
    color: white;
    
}
.filter_btn{
    width: 80px;
    height: 25px;
    border-radius: 4px;
    font-size: 13px;
    color: white;
    font-weight: bold;
    /* margin: 13px; */
    padding: 3px;
    background-color: #e49707f2;
    border: 2px solid #403e3a;    
}
.filter_btn:hover{
    background-color: rgb(218, 154, 37);
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
}
.btn_div{
    display: block;
    width: 30px;
    margin:10px auto;
    /* margin: 10px 2px; */
}

/* ******************order now button************************ */
#order_now_btn_div{
    position: fixed;
    top: 13em;
    margin-left: 20px;
}
#btn {
    width: 110px;
    height: 40px;
    border-radius: 9px;
    font-size: 18px;
    /* margin: 13px; */
    padding: 7px;
    background-color: #e49707f2;
    border: 2px solid #403e3a;
}
#btn:hover{
    width: 109px;
    height: 39px;
    background-color: rgb(218, 154, 37);
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    
}
#btn a{
    text-decoration: none;
    color: white;
}

/* *******************8hidding particular menu************* */
.both_veg,.both_non-veg{
    display: none;
}

/* *********************************menu table************************ */
#menu_section::before{
    content: "";
    position: fixed;
    top: 180px;
    left: 0px;
    background: url(../IMAGES/MENU/menu_back.jpeg)no-repeat center center/cover;
    /* background-color: black; */
    z-index: -3;
    width: 100%;
    height:100%;
    /* opacity: 0.7; */
}

table{
    font-size: 18px;
    /* color: white; */
}
table caption{
    font-size: 18px;
    font-weight: bold;
    font-style:italic;
}
.menu_subhead{
    font-size: 22px;
    font-weight: bolder;
    font-style: oblique;
}
.left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(104, 155, 140,0.6);
    /* border: 2px solid blue; */
    margin: 20px 0px;
    margin-left: 31%;
    padding: 12px 12px;
}

.right{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(184, 235, 218,0.6);
    /* border: 2px solid green; */
    margin: 20px 0px;
    margin-left: 45%;
    padding: 12px 12px;
}

th,td{
    padding: 3px 7px;
    /* border: 2px solid red; */
}

/* *************setting width of columns of tables************** */
tr>td:first-child
{
   width: 17em; 
}
tr>td:nth-child(2){
    width: 6em;
}

/* **********************************responsiveness to table********************************** */
@media only screen and (max-width:420px){
    table{
        font-size: 12px;
    }   
}

/* *************************footer************************** */
#footer{
    /* border: 2px solid green; */
    position: absolute;
    /* top: 67.3em; */
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: black;
    color: white;   
}
#footer p{
    margin: 9px;
}

@media only screen and (max-width:420px){
    #footer p{
        font-size:10px ;
    }
}