*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body::before{
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    background: url(../IMAGES/order\ now\ bg.jpg)no-repeat center center/cover;
    /* background-color: black; */
    z-index: -1;
    width: 100%;
    height:100%;
    opacity: 0.7;
}

/* **********************css to logo *****************************/
#logo_heading_section{
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 198, 123, 0.6);
    align-items: center;
}
#logo img{
    height: 5em;
    width: 8em;
}
#logo_heading_section h3{
    margin: 0px;
    font-size: 4em;
}

/*************************** css to order type selection************************************* */
#order_type_section{
    /* margin: 2em 0px; */
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(238, 198, 123, 0.6);
}

#table,#meal,#catering{
    margin: 2em auto;
    font-size: 15px;
    background-color: rgba(246, 248, 247, 0.6);
}

/* *********************************css to meal,table,catering section*********************************/
#meal{
    width: 60%;
    padding: 10px;
}
#table{
    width: 35%;
    padding: 10px;
}
#catering{
    padding: 10px;
    width: 30%;
}
#meal label,#catering label,#table label{
    display: inline-block;
    width: 11em;
    font-style: italic;
    font-size: large;
}
#meal select{
    display: inline-block;
    width: 20em;
}
#meal input{
    display: inline-block;
    /* width: 8em; */
    margin: 4px 3px;
}
#meal div,#catering div,#table_inputs div{
    margin: 5px 10px;
}
.btn{
    background-color: #e49707f2;
    padding: 3px 4px;
    border: 2px solid #403e3a;
    border-radius: 3px;
    margin-left: 50%;
}
.btn:hover{
    background-color: rgb(218, 146, 12);
    cursor: pointer;
}
.add_btn{
    background-color: rgb(0, 0, 0);
    color: white;
    border:2px solid rgb(209, 138, 5) ;
    width: 50px;
    padding: 2px 3px;
    border-radius: 5px;
} 
.add_btn:hover{
    background-color: rgb(19, 18, 18);
}
.customize_btn{
    background-color: rgb(0, 0, 0);
    color: white;
    border:2px solid rgb(209, 138, 5) ;
    width: 80px;
    padding: 2px 3px;
    border-radius: 5px;
    
}
.customize_btn:hover{
    background-color: rgb(19, 18, 18);
}
.meal_btn{
    background-color: #e49707f2;
    padding: 3px 4px;
    border: 2px solid #403e3a;
    border-radius: 3px;
}
.meal_btn:hover{
    background-color: rgb(218, 146, 12);
    cursor: pointer;
}
#meal_order_btn{
    margin-left: 40%;
}
#meal_gift_btn{
    margin-left: 5%;
}
/* ******************css to table **************************/
#sittings{
    /* float: left; */
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    height: 40em;
    width: 30em;
    margin: 2em 0px;
}

#hurrah_dinning{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    width: 20%;
    /* border: 2px solid green; */
}

#personal_cabin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid blue; */
    width: 100%;
    height: 10%;
}

#kutcha_dinning{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    /* border: 2px solid yellowgreen; */
}

.dinning_table{
    border: 2px solid orange;
    height: 5em;
    width: 3em;
    text-align: center;
}
.dinning_table p{
    width: 28px;
    display: block;
    margin: 65% 21%;
}


.cabin{
    border: 2px solid orange;
    height: 3em;
    width: 2em;
}
.cabin p{
    width: 26px;
    margin: 50% 7%;
    display: block;
}
