/* body{
    font-family: 'Benne', serif;
} */
/* ****************Our services section******************** */
#services::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../IMAGES/SERVICES/services\ bg.jpg)no-repeat center center/cover;
    z-index: -1;
    width: 100%;
    height:169.5%;
    opacity: 0.7;
}

/* our services heading */
#services h3{
    text-align: center;
    font-size: 42px;
    margin: 33px 5px;
}

/* brownie points moving line */

#brownie_points h4,#brownie_points p{
    display: inline-block;
    font-size: 22px;
    color: red;
    font-family: 'Benne', serif;
}

/* row 1(Delights,vibe,sitting,Sanitized,cattering) */
.container,#row_1{
    margin: 0px 40px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.cards{
    /* flex-shrink: 2; */
    border: 2px solid rgb(223 152 73);
    display: inline-block;
    width: 14em;
    height: 29em;
    padding: 10px 15px;
    text-align: center;
    background: rgba(255, 255, 254, 0.3);
    border-radius: 10px;
    margin: 15px 10px;
}
.cards h4,.row1 h4,#row2 h4{
    font-size: 25px;
    margin: 10px 8px;
    /* font-family: 'Benne', serif; */
}
.cards p{
    line-height: 20px;
    font-size: 15px;
}

/* images in cards */
.card_logo{
    height: 6em;
    width: 7em;
}

/* Row 2 -> row 1(home delivery,take away,gift a meal) */
.row1{
    padding: 10px 15px;
    border: 2px solid rgb(223 152 73);
    display: inline-block;
    width: 25em;
    height: 20em;
    text-align: center;
}
#card1{
    border-top-left-radius: 10px;
    border-right: none;
    background: rgba(255, 255, 254, 0.3);
}
#card2{
    border-left: none;
    border-right: none;
    background: rgba(255, 255, 254, 0.3);
}
#card3{
    border-top-right-radius: 10px;
    border-left: none;
    background: rgba(255, 255, 254, 0.3);
}

/* Row 2 -> Row 2(Brownie points)*/
#merged_rc2 h4{
    display: inline-block;
    /* position: absolute; */
    margin: 33px 14px;
}
#row2_ih{
    display: flex;
    /* width: 40%; */
    margin-bottom: 10px;
    /* align-items: center; */
    justify-content: center;
}
#row2{
    border: 2px solid rgb(223 152 73);
    background: rgba(255, 255, 254, 0.3);
    display: block;
    width:75em;
    height: 11em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 10px 15px;
}

/* ******************responsiveness to our services section************* */
/* a. reponsiveness to row1 (delights, vibe, cattreing, sanitized, sitting)*/
@media only screen and (max-width:876px)
{
    #row_1 .cards{
        width:23em;
        height: 20em;
    }
}

@media only screen and (min-width:876px) and (max-width:1034px){
    #row_1 .cards{
        width:50em;
        height: 12em;
    }
}

@media only screen and (max-width:1034px){
    #row_1{
        flex-direction: column;
        align-items: center;
    }
    .cards h4{
        font-size: 20px;
        display: inline-block;
    }
    .cards p{
        font-size: 14px;
    }
    .card_logo{
        height: 4em;
        width: 5em;
        display: inline-block;
    }
    .sitting{
        display: inline-block;
    }
}
@media only screen and (min-width:1034px) and (max-width:1132px){
    .cards{
        height: 36em;
    }
}
@media only screen and (min-width:1132px) and (max-width:1240px){
    .cards{
        height: 32em;
    }
}

/* b. responsiveness to row 2(a) (home delivery, take away, gift a meal)*/
@media only screen and (max-width:467px)
{
    .row1{
        height: 39em;
    }
}
@media only screen and (min-width:467px) and (max-width:511px)
{
    .row1{
        height: 36em;
    }
}
@media only screen and (min-width:511px) and (max-width:551px)
{
    .row1{
        height: 33em;
    }
}
@media only screen and (min-width:551px) and (max-width:544px)
{
    .row1{
        height: 32em;
    }
}
@media only screen and (min-width:544px) and (max-width:630px)
{
    .row1{
        height: 28em;
    }
}
@media only screen and (min-width:630px) and (max-width:719px)
{
    .row1{
        height: 24em;
    }
}
@media only screen and (min-width:719px) and (max-width:932px)
{
    .row1{
        height: 21em;
    }
}
@media only screen and (min-width:932px) and (max-width:1034px)
{
    .row1{
        height: 20em;
    }
}
@media only screen and (min-width:1034px) and (max-width:1074px)
{
    .row1{
        height: 22em;
    }
}
@media only screen and (max-width:1034px)
{
    .row1 h4{
        font-size: 20px;
    }
    .row1 p{
        font-size: 14px;
    }
    .row1 img{
        height: 4em;
        width: 5em;
    }
}

/* c. responsiveness to row 2(b) (brownie points)*/
@media only screen and (max-width:1034px)
{
    #row2 h4{
        font-size: 20px;
    }
    #row2 p{
        font-size: 14px;
    }
    #row2 img{
        height: 4em;
        width: 5em;
    }
}
@media only screen and (max-width:625px)
{
    #row2{
        height: 13em;
    }
}

/* d. responsiveness to bg*/
@media only screen and (max-width:512px)
{
    #services::before{
        height:176em;       
    }
}
@media only screen and (min-width:512px) and (max-width:630px)
{
    #services::before{
        height:170em;       
    }
}
@media only screen and (min-width:630px) and (max-width:719px)
{
    #services::before{
        height:160em;       
    }
}
@media only screen and (min-width:719px) and (max-width:876px)
{
    #services::before{
        height:157em;       
    }
}
@media only screen and (min-width:876px) and (max-width:1034px)
{
    #services::before{
        height:118em;       
    }
}
@media only screen and (min-width:1034px) and (max-width:1132px)
{
    #services::before{
        height:86em;       
    }
}
@media only screen and (min-width:1132px) and (max-width:1496px)
{
    #services::before{
        height:80em;       
    }
}

/* ***************************Moody Foodie********************************** */
#moody_foodie{
    /* border: 2px solid red; */
    margin-top: 0.7em;
}

#moody_foodie h3{
    /* position: absolute; */
    text-align: center;
    font-size: 42px;
    padding: 30px 0px;
    background-color:rgb(233, 233, 233);
    border: 2px solid grey;
    /* font-family: 'Benne', serif; */
}

.recipe_name{
    margin: 18px 64px;
    padding: 5px 5px;
    font-size: 22px;
    width: 12em;
    /* border: 2px solid black; */
}
.recipe_name:hover{
    cursor: pointer;
    color: rgb(53, 52, 51);
    font-size: 22.5px;
}

#misal_pav::before{
    content: "";
    position: absolute;
    /* top: 0px; */
    /* left: 0px; */
    background: url(../IMAGES/SERVICES/misal\ pav.png)no-repeat center center/cover;
    z-index: -1;
    width: 100%;
    height:65.5em;
    opacity: 0.5;
}
#dum_paneer::before{
    content: "";
    position: absolute;
    /* top: 0px; */
    /* left: 0px; */
    background: url(../IMAGES/SERVICES/dum\ paneer.png)no-repeat center center/cover;
    z-index: -1;
    width: 100%;
    height:59.1em;
    opacity: 0.5;
}
#rice_dhokla::before{
    content: "";
    position: absolute;
    /* top: 0px; */
    /* left: 0px; */
    background: url(../IMAGES/SERVICES/rice\ dhokla.png)no-repeat center center/cover;
    z-index: -1;
    width: 100%;
    height:41.8em;
    opacity: 0.5;
}

.recipe_container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
}

.recipe{
    /* border: 2px solid green; */
    width: 50%;
    padding: 22px;
}

.recipe_video{
    /* border: 2px solid greenyellow; */
    height: 20em;
    width: 35em;
}

#recipe_ing{
    /* border:2px solid blue; */
    display: flex;
}

.recipe_heading{
    font-size: 18px;
    margin: 9px 5px;
}

.recipe_subheading{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin: 5px 20px;
}

/* ******************************responsiveness to moody foodie**************************** */

/******** responsiveness to layout of recipe in moody foodie *********/
@media only screen and (max-width:880px){
    .recipe_container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }   
    .recipe{
        width:100%;
    }
}

/********* responsiveness to videos of recipes in moody foodie *********/
@media only screen and (max-width:575px){
    .recipe_video{
        height: 20em;
        width: 25em;
    }
}
@media only screen and (min-width:880px) and (max-width:1034px){
    .recipe_video{
        height: 20em;
        width: 25em;
    }
}
@media only screen and (min-width:1034px) and (max-width:1210px){
    .recipe_video{
        height: 20em;
        width: 30em;
    }
}

/********* responsiveness to font of recipes in moody foodie *********/
@media only screen and (max-width:1034px)
{
    .recipe p{
        font-size: 14px;       
    }
}

/* *************************footer************************** */
#footer{
    /* border: 2px solid green; */
    position: absolute;
    /* top: 67.3em; */
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: black;
    color: white;   
}
#footer p{
    margin: 9px;
}